<div class="overly">
    <div style="    position: absolute; z-index: 9999;background: #fff;top: 45%; left: 45%; border-radius:10px">
        <img src="../images/loading.gif" style="width:80%;height:80%;margin:auto;display:block"/>
        <p style="color: #000; text-align: center !important; position: relative; top: -30px;">المرجو الإنتظار...</p>
   </div>
</div>