<div class="mb-3 m-auto">
    <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
    <p style="text-align: center !important; margin-top: 10px;">جاري التحميل، يُرجى الانتظار ...</p>
</div>