@using E.Loi.Edition.Generation.VMs

@model ChapitreTemplate;

<h1 dir="rtl" style="width:100%;text-align:center;font-size:19.5px;color:#3c3c6a;font-weight:bold;">@Model.Header</h1>
<h2 dir="rtl" style="width:100%;text-align:center;font-size:19.5px;color:#3c3c6a;font-weight:bold;">@Model.Title</h2>
<div style="height: 10px;
        font-size: 20px !important;
        font-family: 'Sakkal Majalla','Simplified Arabic',sans-serif !important;
        text-align: justify !important;
        direction: rtl !important;
        font-size: 20px !important;">
    &nbsp;
</div>

