@using E.Loi.Edition.Generation.VMs
@model GroupeTemplate;

<h1 dir="rtl" style="width:100%;text-align:center;font-size:19.5px;color:#3c3c6a;font-weight:bold;">@Model.Header</h1>
<div style="height:10px;">
    &nbsp;
</div>

