@using E.Loi.Edition.Generation.VMs
@model ProjetLoiTemplate;

<h1 dir="rtl" style="width:100%;text-align:center;font-size:19.5px;color:#3c3c6a;font-weight:bold;"> مشروع قانون المالية رقم @Model.Title</h1>
<h1 dir="rtl" style="width:100%;text-align:center;font-size:19.5px;color:#3c3c6a;font-weight:bold;">للسنة المالية @Model.Year</h1>
<hr style="width:10%">
<div style="height:10px;">
    &nbsp;
</div>

