.pagination li a[b-y1uk0l0e1g] {
    padding: 5px 10px !important;
}

.item.selected[b-y1uk0l0e1g] {
    background-color: #f1c40f !important;
}

.count-Amendmentelement[b-y1uk0l0e1g] {
    background: #f1c40f3d;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
}