.card[b-wrebv70cc4], .steps[b-wrebv70cc4] {
    position: relative;
    cursor: pointer
}

.active-space[b-wrebv70cc4] {
    background: #b32f31;
    color: #fff;
    text-align: center !important;
    font-weight: 600;
    border-color: #b32f31;
}

.steps[b-wrebv70cc4]::after {
    content: '';
    border: 1px solid #ccc;
    width: 25px;
    position: absolute;
    top: 27px;
    right: -25px;
}
