.modal-footer[b-6t5ph81zjz] {
    justify-content: center;
}

.dropdown-item[b-6t5ph81zjz] {
    font-size: 12px;
    font-weight: 700
}

    .dropdown-item i[b-6t5ph81zjz] {
        font-size: 12px;
    }

.img-print[b-6t5ph81zjz] {
    height: 30px;
    width: 30px;
    margin-bottom: 4px;
    cursor: pointer;
}
