table thead tr th[b-f6in770k9x] {
    font-size: 12px !important;
    font-weight: 600;
    border-top: 1px solid #dee2e6;
}

    table thead tr th input[b-f6in770k9x], table thead tr th select[b-f6in770k9x] {
        font-size: 11px !important;
        color: #000 !important;
        font-weight: 700 !important;
    }

.pagination li a[b-f6in770k9x] {
    padding: 5px 10px !important;
}
