.pagination li a[b-0nrk7e95cv] {
    padding: 5px 10px !important;
}

input[b-0nrk7e95cv] {
    font-size: 12px !important
}

table thead tr th[b-0nrk7e95cv] {
    vertical-align: middle !important;
    font-size: 11px
}
