@model E.Loi.DataAccess.Vm.Editor.EditorContent

<div style="margin-top: 5px;
        margin-bottom: 5px;
        font-size: 20px !important;
        font-family: 'Sakkal Majalla','Simplified Arabic',sans-serif !important;
        text-align: justify !important;
        direction: rtl !important;
        font-size: 20px !important;">
    @Model.Content
</div>
